@model ForgotPasswordVM

@{
    ViewData["Title"] = "Forgot Password";
}

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Şifre Sıfırlama</h3>
            </div>
            <form asp-action="ForgotPassword">
                <div class="card-body">
                    <div>
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer" style="height:50px;">
                    <button type="submit" class="btn btn-outline-success d-block">Bağlantıyı Gönder</button>
                </div>
            </form>
        </div>
    </div>
</div>
