@model ResetPasswordVM

@{
    ViewData["Title"] = "Reset Password";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Şifre Yenile</h3>
            </div>
            <form asp-action="ResetPassword">
                <input type="hidden" asp-for="Token" />
                <input type="hidden" asp-for="Email" />
                <div class="card-body">
                    <div>
                        <label asp-for="NewPassword" class="form-label"></label>
                        <input type="password" asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="CheckNewPassword" class="form-label"></label>
                        <input type="password" asp-for="CheckNewPassword" class="form-control" />
                        <span asp-validation-for="CheckNewPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-success">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
