@{
    ViewData["Title"] = "Update Classroom";
}
@model UpdateClassroomVM

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Sınıf Güncelle</h3>
            </div>
            <form asp-action="UpdateClassroom">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="CreatedDate" />
                <input type="hidden" asp-for="UpdatedDate" />
                <div class="card-body">
                    <div>
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="Description" class="form-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="StartDate" class="form-label"></label>
                        <input type="date" asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="EndDate" class="form-label"></label>
                        <input type="date" asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="CourseId" class="form-label"></label>
                        <select onchange="loadTeachersByCourseId(this.value,'teacher-select-classroom-update')" id="course-select" asp-items="@Model.Courses" asp-for="CourseId" class="form-control">
                            <option disabled selected value="0">Lütfen kurs seçiniz!</option>
                        </select>
                        <span asp-validation-for="CourseId" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="TeacherId" class="form-label"></label>
                        <select asp-items="Model.Teachers" id="teacher-select-classroom-update" asp-for="TeacherId" class="form-control">
                        </select>
                        <span asp-validation-for="TeacherId" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="StartDate" class="form-label"></label>
                        <input onchange="setClassroomEndDate(this,'endDate-update')" id="startDate-update" type="date" asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="EndDate" class="form-label"></label>
                        <input id="endDate-update" type="date" asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between" style="height:50px;">
                    <a class="btn btn-outline-dark" asp-action="Index">Geri Dön</a>
                    <button type="submit" class="btn btn-outline-success">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
