@{
    ViewData["Title"] = "Home Page";
}

<section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
        <source src="assets/images/course-video.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="caption">
                        <h2>BilgeAdam Akademi</h2>
                        <p>İş yaşamında kullanılan yazılımlar ve teknolojiler üzerine eğitim veren BilgeAdam Akademi, alanında Türkiye’nin en köklü ve en büyük kurumudur. Sadece teorik değil, pratik tecrübeye de sahip eğitmenleri ile sıkıcı olmayan, uygulamaya yönelik ve keyifli eğitimler verir. Binlerce mezunuyla Türkiye’nin en çok tercih edilen teknoloji eğitimleri kurumu olan BilgeAdam Akademi, bireysel ve kurumsal eğitimlerini İstanbul (Kadıköy, Maslak) ve Ankara‘daki 3 şubesinde sürdürmektedir.</p>
                        <div class="main-button-red">
                            <div class="scroll-to-section"><a href="#contact">Bizimle iletişime geçin!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-service-item owl-carousel">

                    <div class="item">
                        <div class="icon">
                            <img src="assets/images/service-icon-01.png" alt="">
                        </div>
                        <div class="down-content">
                            <h4>En İyi Eğitimler</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita harum nesciunt facere? Debitis, perspiciatis rerum?</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="icon">
                            <img src="assets/images/service-icon-02.png" alt="">
                        </div>
                        <div class="down-content">
                            <h4>En İyi Eğitmenler</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo illum recusandae, iste deleniti consequuntur neque?</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="icon">
                            <img src="assets/images/service-icon-03.png" alt="">
                        </div>
                        <div class="down-content">
                            <h4>En İyi Öğrenciler</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia harum tenetur eveniet, impedit cum excepturi?</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="icon">
                            <img src="assets/images/service-icon-02.png" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Canlı Toplantı</h4>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero perspiciatis nemo quas magnam, quisquam voluptatem.</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="icon">
                            <img src="assets/images/service-icon-03.png" alt="">
                        </div>
                        <div class="down-content">
                            <h4>En İyi Network</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolores mollitia nobis praesentium, vero ut?</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="upcoming-meetings" id="meetings">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="apply-now" id="apply">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="item">
                            <h3>Lisans Öğrencileri İçin</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quo ipsa vero qui fugiat rem eligendi animi! Amet, at ipsa?</p>
                            <div class="main-button-red">
                                <div class="scroll-to-section"><a href="#contact">Bize Katıl!</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="item">
                            <h3>Lisans Üstü Eğitim İçin</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate laboriosam, asperiores iusto nulla quibusdam tenetur nobis? Temporibus praesentium architecto deleniti.</p>
                            <div class="main-button-yellow">
                                <div class="scroll-to-section"><a href="#contact">Bize Katıl!</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="accordions is-first-expanded">
                    <article class="accordion">
                        <div class="accordion-head">
                            <span>.NET Full Stack</span>
                            <span class="icon">
                                <i class="icon fa fa-chevron-right"></i>
                            </span>
                        </div>
                        <div class="accordion-body">
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus numquam reprehenderit veniam hic commodi, sequi aperiam delectus voluptas esse consequatur fugit modi deleniti quaerat praesentium. Magni ea ad quisquam. Quod voluptatibus, ratione vitae aspernatur quisquam accusantium corrupti dolor alias atque voluptates pariatur, veniam veritatis a mollitia facilis tempora libero ea?</p>
                            </div>
                        </div>
                    </article>
                    <article class="accordion">
                        <div class="accordion-head">
                            <span>JAVA</span>
                            <span class="icon">
                                <i class="icon fa fa-chevron-right"></i>
                            </span>
                        </div>
                        <div class="accordion-body">
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus numquam reprehenderit veniam hic commodi, sequi aperiam delectus voluptas esse consequatur fugit modi deleniti quaerat praesentium. Magni ea ad quisquam. Quod voluptatibus, ratione vitae aspernatur quisquam accusantium corrupti dolor alias atque voluptates pariatur, veniam veritatis a mollitia facilis tempora libero ea?</p>
                            </div>
                        </div>
                    </article>
                    <article class="accordion">
                        <div class="accordion-head">
                            <span>GO</span>
                            <span class="icon">
                                <i class="icon fa fa-chevron-right"></i>
                            </span>
                        </div>
                        <div class="accordion-body">
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus numquam reprehenderit veniam hic commodi, sequi aperiam delectus voluptas esse consequatur fugit modi deleniti quaerat praesentium. Magni ea ad quisquam. Quod voluptatibus, ratione vitae aspernatur quisquam accusantium corrupti dolor alias atque voluptates pariatur, veniam veritatis a mollitia facilis tempora libero ea?</p>
                            </div>
                        </div>
                    </article>
                    <article class="accordion last-accordion">
                        <div class="accordion-head">
                            <span>Python</span>
                            <span class="icon">
                                <i class="icon fa fa-chevron-right"></i>
                            </span>
                        </div>
                        <div class="accordion-body">
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus numquam reprehenderit veniam hic commodi, sequi aperiam delectus voluptas esse consequatur fugit modi deleniti quaerat praesentium. Magni ea ad quisquam. Quod voluptatibus, ratione vitae aspernatur quisquam accusantium corrupti dolor alias atque voluptates pariatur, veniam veritatis a mollitia facilis tempora libero ea?</p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="our-courses" id="courses">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>En Çok Satan Kurslarımız</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="owl-courses-item owl-carousel">
                    @await Component.InvokeAsync("Course")
                </div>
            </div>
        </div>
    </div>
</section>

<section class="our-facts">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Başarılarımız</h2>
                    </div>
                    @await Component.InvokeAsync("EducationAwards")
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="video">
                    <a href="https://www.youtube.com/watch?v=HndV87XpkWg" target="_blank"><img src="assets/images/play-icon.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-us" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 align-self-center">
                <div class="row">
                    <div class="col-lg-12">
                        <form id="contact" action="" method="post">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2>Bizimle İletişime Geçin</h2>
                                </div>
                                <div class="col-lg-4">
                                    <fieldset>
                                        <input name="name" type="text" id="name" placeholder="YOURNAME...*" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-4">
                                    <fieldset>
                                        <input name="email" type="text" id="email" placeholder="YOUR EMAIL..." required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-4">
                                    <fieldset>
                                        <input name="subject" type="text" id="subject" placeholder="SUBJECT...*" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <textarea name="message" type="text" class="form-control" id="message" placeholder="YOUR MESSAGE..." required=""></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="button">Mesaj Gönder</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="right-info">
                    <ul>
                        <li>
                            <h6>Telefon</h6>
                            <span>010-020-0340</span>
                        </li>
                        <li>
                            <h6>Email</h6>
                            <span>edu@bilgeadam.com</span>
                        </li>
                        <li>
                            <h6>Adres</h6>
                            <span>Bilkent, Ankara</span>
                        </li>
                        <li>
                            <h6>Website</h6>
                            <span>www.bilgeadam.com</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>BilgeAdam</p>
    </div>
</section>