@model GetEducationAwardsVM

<div class="col-lg-6">
    <div class="row">
        <div class="col-12">
            <div class="count-area-content percentage">
                <div class="count-digit">@Model.SuccessStudentsPercentage</div>
                <div class="count-title">Başarılı Öğrencilerimiz</div>
            </div>
        </div>
        <div class="col-12">
            <div class="count-area-content">
                <div class="count-digit">@Model.TeachersCount</div>
                <div class="count-title">Eğitmen Sayımız</div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="row">
        <div class="col-12">
            <div class="count-area-content new-students">
                <div class="count-digit">@Model.NewStudentsCount</div>
                <div class="count-title">Yeni Öğrencilerimiz</div>
            </div>
        </div>
        <div class="col-12">
            <div class="count-area-content">
                <div class="count-digit">32</div>
                <div class="count-title">Ödüller</div>
            </div>
        </div>
    </div>
</div>